<%= turbo_frame_tag quote do %>
  <div class="item-container">
    <div class="text-base font-medium text-black">  
      <%= link_to quote.name, quote_path(quote), data: { turbo_frame: "_top" } %>
    </div>

    <div>
      <%= link_to 'Delete', quote_path(quote), data: { "turbo-method": :delete }, class: "btn" %>
      <%= link_to 'Edit', edit_quote_path(quote), class: "btn" %>
    </div>

  </div>
<% end %>
